

 

	<!-- 栅格系统的结构（看文档，看怎么使用？） -->
	<!-- <div class="container" style="background: red;">
		xxxx
	</div> -->
	<!-- <div class="container-fluid" style="background: blue;">
		yyyy
	</div> -->

	<div class="container">
		<div class="row menu">
			<div class="col-xs-3 col-sm-3 col-md-3 text-center">
				<a href="" class="active">公司新闻</a>
			</div>
			<div class="col-xs-3 col-sm-3 col-md-3 text-center">
				<a href="">行业新闻</a>
			</div>
			<div class="col-xs-3 col-sm-3 col-md-3 text-center">
				<a href="">项目新闻</a>
			</div>
			<div class="col-xs-3 col-sm-3 col-md-3 text-center">
				<a href="">最新资讯</a>
			</div>
		</div>

		<div class="pos">
			所在位置：<a href="index.html">首页</a> - <a href="index.html">资讯</a> - 新闻
		</div>

		<div class="title">
			<h3>【喜邦】新闻</h3>
		</div>

		<div class="row col-md-12 list">
			<div class="box">
				<h3>本土日化上市需要等待时机</h3>
				<div><span>发布者：喜邦公司</span><span>发布时间：2015-03-07</span></div>
				<img src="__IMG__/banner2.png" alt="" class="img-responsive">
				<p>当前，如果本土日化上市的话，那么将会让国内品牌之间的竞争更为激烈，而真正对自身的生存造成一定的威胁的还是国际上的日化巨头，于是很多企业就采取暂时不上市的做法，在一些细分市场上和日化巨头展开竞争，而从实际效果上来看，还是比较明智的选择。</p>
				<p>那么日夜上市都需要什么来支撑呢？一方面是融资顺利，而另一方面就是要提高产品的知名度就前者来看，很多的日化企业本身就是土豪级的存在，所以并不需要大笔的资金，在于就是本土日化并不需要做很多的广告对自身的产品进行宣传，因此上市就显得不是很有必要了。</p>
				<p>来看看已经上市的企业所面临的状况都有哪些，广东浪奇在力求转型之后效果并不理想，而两面针等也只要变卖一些比较好的品牌来让业绩得到维持，索芙特等更是经过了瘦身的过程，显然，上市对于很多日化土豪来说并不是一件容易的事情。</p>
				<p>日化企业的上市会给企业带来更为广阔的利润空间，而上市过程也需要很多的资金，但是很多本土的日化企业尽管具有一定的经济实力，却没有选择上市，其实上市需要等待一个合适的时机，至少从目前少数上市的本土日化来看，上市并不是一件轻松地 事情。</p>
				<p>2014年以来，很多国际日化巨头的日子过得并不是很轻松，而中本土的日化却也是呈现出了极端化的发展趋势，很多日化土豪在具备经济实力之后并不是选择上市，而是继续做老本行，进一步的积累实力，上市的一些日化品牌则是遇到了很多的磨难，对此，很多人表示，尽管国际日化企业的生存比较简单，但是竞争力还是存在的，所以对此要谨慎。</p>
			</div>
		</div>
		<div class="next-post"><a href="">gogo下架 上一篇</a><a href="">上一篇 lolo产品上市</a></div>
	</div>
	
