


	<!-- 栅格系统的结构（看文档，看怎么使用？） -->
	<!-- <div class="container" style="background: red;">
		xxxx
	</div> -->
	<!-- <div class="container-fluid" style="background: blue;">
		yyyy
	</div> -->

	<div class="container">
		<div class="row menu">
			<div class="col-xs-4 col-sm-4 col-md-4 text-right">
				<a href="" class="active">全案作品</a>
			</div>
			<div class="col-xs-4 col-sm-4 col-md-4 text-center">
				<a href="">设计作品</a>
			</div>
			<div class="col-xs-4 col-sm-4 col-md-4 text-left">
				<a href="">面膜设计</a>
			</div>
		</div>

		<div class="pos">
			所在位置：<a href="index.html">首页</a> - 案例
		</div>

		<div class="title">
			<h3>案例展示</h3>
		</div>

		<div class="row list">
			<div class="col-md-6 box">
				<a href="case_desc.html"><img src="__IMG__/caselist1.jpg" alt="" class="img-responsive"></a>
				<h3>天姿曼</h3>
				<p>熬夜肌肤修复专家。天姿曼为广州美莲葆公司旗下品牌，十年来专注研发面膜，专业生产面膜和专精覃思探索消费者的需求，不断创新十年来专注研发面膜。</p>
			</div>
			<div class="col-md-6 box">
				<a href="case_desc.html"><img src="__IMG__/caselist2.jpg" alt="" class="img-responsive"></a>
				<h3>天姿曼</h3>
				<p>熬夜肌肤修复专家。天姿曼为广州美莲葆公司旗下品牌，十年来专注研发面膜，专业生产面膜和专精覃思探索消费者的需求，不断创新十年来专注研发面膜。</p>
			</div>
			<div class="col-md-6 box">
				<a href="case_desc.html"><img src="__IMG__/caselist3.jpg" alt="" class="img-responsive"></a>
				<h3>天姿曼</h3>
				<p>熬夜肌肤修复专家。天姿曼为广州美莲葆公司旗下品牌，十年来专注研发面膜，专业生产面膜和专精覃思探索消费者的需求，不断创新十年来专注研发面膜。</p>
			</div>
			<div class="col-md-6 box">
				<a href="case_desc.html"><img src="__IMG__/caselist4.jpg" alt="" class="img-responsive"></a>
				<h3>天姿曼</h3>
				<p>熬夜肌肤修复专家。天姿曼为广州美莲葆公司旗下品牌，十年来专注研发面膜，专业生产面膜和专精覃思探索消费者的需求，不断创新十年来专注研发面膜。</p>
			</div>
			<div class="col-md-6 box">
				<a href="case_desc.html"><img src="__IMG__/caselist5.jpg" alt="" class="img-responsive"></a>
				<h3>天姿曼</h3>
				<p>熬夜肌肤修复专家。天姿曼为广州美莲葆公司旗下品牌，十年来专注研发面膜，专业生产面膜和专精覃思探索消费者的需求，不断创新十年来专注研发面膜。</p>
			</div>
			<div class="col-md-6 box">
				<a href="case_desc.html"><img src="__IMG__/caselist6.jpg" alt="" class="img-responsive"></a>
				<h3>天姿曼</h3>
				<p>熬夜肌肤修复专家。天姿曼为广州美莲葆公司旗下品牌，十年来专注研发面膜，专业生产面膜和专精覃思探索消费者的需求，不断创新十年来专注研发面膜。</p>
			</div>
		</div>
	</div>
	
	<!-- 分页 -->
	<nav aria-label="Page navigation">
	  <ul class="pagination">
	    <li>
	      <a href="#" aria-label="Previous">
	        <span aria-hidden="true">上一页</span>
	      </a>
	    </li>
	    <li><a href="#">1</a></li>
	    <li><a href="#">2</a></li>
	    <li><a href="#">3</a></li>
	    <li><a href="#">4</a></li>
	    <li><a href="#">5</a></li>
	    <li>
	      <a href="#" aria-label="Next">
	        <span aria-hidden="true">下一页</span>
	      </a>
	    </li>
	  </ul>
	</nav>

