

	<!-- 栅格系统的结构（看文档，看怎么使用？） -->
	<!-- <div class="container" style="background: red;">
		xxxx
	</div> -->
	<!-- <div class="container-fluid" style="background: blue;">
		yyyy
	</div> -->

	<div class="container">
		<div class="row menu">
			<div class="col-xs-4 col-sm-4 col-md-4 text-right">
				<a href="" class="active">全案作品</a>
			</div>
			<div class="col-xs-4 col-sm-4 col-md-4 text-center">
				<a href="">设计作品</a>
			</div>
			<div class="col-xs-4 col-sm-4 col-md-4 text-left">
				<a href="">面膜设计</a>
			</div>
		</div>

		<div class="pos">
			所在位置：<a href="index.html">首页</a> - <a href="index.html">案例</a> - 梵漾
		</div>

		<div class="title">
			<h3>【梵漾】广告案例</h3>
		</div>

		<div class="row list">
			<div class="box">
				<img src="__IMG__/case1.png" alt="" class="img-responsive">
				<p class="p1">自然主义养护引领者。受佛教梵文《华严经》启示，从自然万物中的花、叶、木顿悟真谛，遵循自然万物、肌肤细胞更新循环周期，以[养生]的理念调理肌肤，倡导禅学养生文化：心中清静，万物归苏。  </p>
				<p class="p2">Keyword：广州化妆品包装设计 化妆品品牌策划 面膜设计</p>
			</div>
		</div>

		<div class="title">
			<h3>LOGO设计</h3>
		</div>

		<div class="row list">
			<div class="box">
				<h3>一、中文字体设计</h3>
				<img src="__IMG__/case2.png" alt="" class="img-responsive">
				<p>去掉一些形式，凸显记忆点，选用一款黑体字作为原型，在黑体的基础上采用矩形造字法搭建字体骨骼和结构。</p>
			</div>
			<div class="box">
				<h3>二、中英文结合字体设计</h3>
				<img src="__IMG__/case3.png" alt="" class="img-responsive">
				<p>标志的两张组合形式，一中采用笔画的连笔跟英文组合，一种采用中英文横排的方式。</p>
			</div>
			<div class="box">
				<h3>三、标准英文字体设计</h3>
				<img src="__IMG__/case4.png" alt="" class="img-responsive">
				<p>标志的英文采用Copperplate Gothic是Frederic W.Goudy于1901年所创造的字型，虽然它归类为无衬线字体，不过在笔画的尾端有微小的衬线装饰，这种衬线装饰与中文设计相协调，能给好的配合中文字体的造型。</p>
			</div>
			<div class="box">
				<h3>四、标志设计</h3>
				<img src="__IMG__/case5.png" alt="" class="img-responsive">
			</div>
			<div class="box">
				<h3>五、设计成品</h3>
				<img src="__IMG__/case6.png" alt="" class="img-responsive">
			</div>
			<div class="box">
				<h3>六、产品延伸展示</h3>
				<img src="__IMG__/case7.png" alt="" class="img-responsive">
				<img src="__IMG__/case8.png" alt="" class="img-responsive">
				<img src="__IMG__/case9.png" alt="" class="img-responsive">
			</div>
		</div>
		<div class="next-post"><a href="">gogo下架 上一篇</a><a href="">上一篇 lolo产品上市</a></div>
	</div>
	
