


	<!-- 栅格系统的结构（看文档，看怎么使用？） -->
	<!-- <div class="container" style="background: red;">
		xxxx
	</div> -->
	<!-- <div class="container-fluid" style="background: blue;">
		yyyy
	</div> -->

	<div class="container">
		<div class="row menu">
			<div class="col-xs-3 col-sm-3 col-md-3 text-center">
				<a href=""></a>
			</div>
			<div class="col-xs-3 col-sm-3 col-md-3 text-center">
				<a href="" class="active">联系我们</a>
			</div>
			<div class="col-xs-3 col-sm-3 col-md-3 text-center">
				<a href="">地图位置</a>
			</div>
			<div class="col-xs-3 col-sm-3 col-md-3 text-center">
				<a href=""></a>
			</div>
		</div>

		<div class="pos">
			所在位置：<a href="index.html">首页</a> - 联系
		</div>

		<div class="title">
			<h3>联系我们</h3>
			<p>欢迎您致电“喜邦品牌”进行咨询，我们即将为您全心全意的服务</p>
		</div>
		<div class="row list">
			<div class="box">
				<h3>广州喜邦广告设计有限公司</h3>
				<p class="p1">Guangzhou xiban advertising design co., LTD</p>
				<h1>服务专线：4000-138-136</h1>
				<p class="p1">小时咨询电话: 13049685204 13580317549</p>
				<p class="p1">E-mail: 758057640@qq.com &nbsp;&nbsp;<button type="button" class="layui-btn layui-btn-radius layui-btn-warm sub"  style="height: 20px;line-height: 0;">发邮件</button></p>
				<p class="p1">QQ: 758057640</p>
				<p class="p1">公司地址: 广州市白云区新市齐富路联富大厦6018</p>
			</div>
		</div>

		<div class="title">
			<h3>地图位置</h3>
			<p>为了您跟我们更加快捷找到我们公司地址，请用地图查找我们的位置，多谢！ </p>
		</div>
		<div id="map" class="map" style="height: 320px;"></div>
		<!-- <img class="map" src="__IMG__/contact.png" alt=""> -->

		

	</div>
	
	