
  

	<!-- 栅格系统的结构（看文档，看怎么使用？） -->
	<!-- <div class="container" style="background: red;">
		xxxx
	</div> -->
	<!-- <div class="container-fluid" style="background: blue;">
		yyyy
	</div> -->

	<div class="container">
		<div class="row menu">
			<div class="col-xs-6 col-sm-6 col-md-6 text-center">
				<a href="" class="active">团队介绍</a>
			</div>
			<div class="col-xs-6 col-sm-6 col-md-6 text-center">
				<a href="">设计作品</a>
			</div>
		</div>

		<div class="pos">
			所在位置：<a href="index.html">首页</a> - 团队
		</div>

		<div class="title">
			<h3>团队介绍</h3>
		</div>

		<div class="row list">
			<!-- <div class="col-md-6 box">
				<img src="__IMG__/renwu1.png" alt="" class="img-responsive">
				<div class="text">
					<h1>林清彬</h1>
					<h3>喜邦首席执行官/资深品牌顾问 品牌创始人</h3>
					<p>熬夜肌肤修复专家。天姿曼为广州美莲葆公司旗下品牌，十年来专注研发面膜，专业生产面膜和专精覃思探索消费者的需求，不断创新十年来专注研发面膜。</p>
				</div>
			</div> -->

			<div class="media col-md-6 box">
			  <div class="media-left">
			    <a href="team_desc.html">
			      <img class="media-object" src="__IMG__/renwu1.png" alt="...">
			    </a>
			  </div>
			  <div class="media-body">
			    <h1 class="media-heading">林清彬</h1>
			    <h3 class="media-heading">喜邦首席执行官/资深品牌顾问 品牌创始人</h3>
			    <p>作为喜邦品牌品牌经营人、哲思者，林清彬先生早年毕业于广州美术学院，作为中国最早接受系统而专业的品牌形象设计人员，从业十六年来，一直专注于化妆品品牌整合设计领域。拥有多年品牌创建与管理咨询经验，长期担任众多领导品牌的首席品牌顾问，为诸多著名品牌设定创见性的整合解决方案。基于对中国化妆品市场品牌创建的切身体会，以及对市场趋势的深刻洞悉，林清彬先生对品牌整合有着独到的见解与敏锐的洞察力，持续帮助品牌从0到1直至奠定根基。</p>
			  </div>
			</div>
			<div class="media col-md-6 box">
			  <div class="media-left">
			    <a href="team_desc.html">
			      <img class="media-object" src="__IMG__/renwu2.png" alt="...">
			    </a>
			  </div>
			  <div class="media-body">
			    <h1 class="media-heading">林华明</h1>
			    <h3 class="media-heading">创意策划/资深文案  品牌指导师</h3>
			    <p>于2010年加入喜邦品牌，负责品牌策略方向和创意出品品质，同时确保项目策略工作的实时推进。深谙中国日化市场的特殊性，以其深刻的消费者洞察，和具创造性的解决方案，助力中国品牌赢得品牌竞争。林华明先生将观察市场的习惯，作为其生活方式的一部分。以自身对消费者的感悟，结合丰富的品牌建设经验，逐一研究品牌在不同行业的特殊作用力和作用原理。他也将自身经验不断形成新的品牌战略方法论，为更加科学和全面的策略工作贡献智慧。</p>
			  </div>
			</div>
			<div class="media col-md-6 box">
			  <div class="media-left">
			    <a href="team_desc.html">
			      <img class="media-object" src="__IMG__/renwu3.png" alt="...">
			    </a>
			  </div>
			  <div class="media-body">
			    <h1 class="media-heading">夏斌</h1>
			    <h3 class="media-heading">客户管理总监/首席品牌策略师  营销指导师</h3>
			    <p>实战派营销策划人，主理喜邦品牌事业部的业务及运营规划，于2009年加入喜邦后，全面负责客户品牌业务及营销推广，专注于企业整体营销策略规划、品牌建设与管理、销售终端深度帮扶和支持、区域市场运作及推广。深谙品牌兴起策略之道。对市场发展动向有着敏锐的洞察力与判断力，对品牌策划与规范实施管理有着丰富的实操经验。擅长策略分析，以理性的切入，感性的创意进行广告沟通。</p>
			  </div>
			</div>
			<div class="media col-md-6 box">
			  <div class="media-left">
			    <a href="team_desc.html">
			      <img class="media-object" src="__IMG__/renwu4.png" alt="...">
			    </a>
			  </div>
			  <div class="media-body">
			    <h1 class="media-heading">夏斌</h1>
			    <h3 class="media-heading">客户管理总监/首席品牌策略师  营销指导师</h3>
			    <p>实战派营销策划人，主理喜邦品牌事业部的业务及运营规划，于2009年加入喜邦后，全面负责客户品牌业务及营销推广，专注于企业整体营销策略规划、品牌建设与管理、销售终端深度帮扶和支持、区域市场运作及推广。深谙品牌兴起策略之道。对市场发展动向有着敏锐的洞察力与判断力，对品牌策划与规范实施管理有着丰富的实操经验。擅长策略分析，以理性的切入，感性的创意进行广告沟通。</p>
			  </div>
			</div>
			<div class="media col-md-6 box">
			  <div class="media-left">
			    <a href="team_desc.html">
			      <img class="media-object" src="__IMG__/renwu5.png" alt="...">
			    </a>
			  </div>
			  <div class="media-body">
			    <h1 class="media-heading">张琪瑞</h1>
			    <h3 class="media-heading">高级制作排版师</h3>
			    <p>毕业于广东省新闻出版高级技工学院电脑照排专业。10年软件排版制作经验，具有娴熟的设计软件操作技巧，拥有丰富的印刷工艺专业知识，对产品后期制作有着独到的见解及把控力。</p>
			  </div>
			</div>
			<div class="media col-md-6 box">
			  <div class="media-left">
			    <a href="team_desc.html">
			      <img class="media-object" src="__IMG__/renwu6.png" alt="...">
			    </a>
			  </div>
			  <div class="media-body">
			    <h1 class="media-heading">林清彬</h1>
			    <h3 class="media-heading">喜邦首席执行官/资深品牌顾问 品牌创始人</h3>
			    <p>熬夜肌肤修复专家。天姿曼为广州美莲葆公司旗下品牌，十年来专注研发面膜，专业生产面膜和专精覃思探索消费者的需求，不断创新十年来专注研发面膜。</p>
			  </div>
			</div>

		</div>
	</div>
	
	<!-- 分页 -->
	<nav aria-label="Page navigation">
	  <ul class="pagination">
	    <li>
	      <a href="#" aria-label="Previous">
	        <span aria-hidden="true">上一页</span>
	      </a>
	    </li>
	    <li><a href="#">1</a></li>
	    <li><a href="#">2</a></li>
	    <li><a href="#">3</a></li>
	    <li><a href="#">4</a></li>
	    <li><a href="#">5</a></li>
	    <li>
	      <a href="#" aria-label="Next">
	        <span aria-hidden="true">下一页</span>
	      </a>
	    </li>
	  </ul>
	</nav>

