<div class="foorter">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-xs-12">
          <img src="__IMG__/logo2.png" alt="" class="logo">
        </div>
        <div class="col-md-5 col-xs-12 center">
          <p>喜邦品牌十年深耕化妆品产业</p>
          <p>友情链接：&nbsp;&nbsp;&nbsp;&nbsp;<a href="">中国雅芳</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="">百雀羚</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="">自然堂</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="">巴黎欧莱雅</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="">谷歌</a></p>
          <p>广州喜邦品牌顾问&设计有限公司版权所有&nbsp;&nbsp;&nbsp;&nbsp;<a href="">粤ICP备0754673</a></p>
        </div>
        <div class="col-md-4 col-xs-12 right">
          <p>E-mail: <a href="mailto:758057640@qq.com">758057640@qq.com</a></p>
          <p><img src="__IMG__/tel.png" alt=""> 全国免费咨询热线：<a href="tel:40000-138-136">40000-138-136</a></p>
          <p>地址：广州市白云区新市齐富路联富大厦6018</p>
        </div>
      </div>
    </div>
  </div>
  
  
  
  
      <!-- 栅格系统的结构（看文档，看怎么使用？） -->
  
      <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
        <script src="__JS__/bootstrap.min.js"></script>
      <script src="__JS__/common.js"></script>
      <script src="http://api.map.baidu.com/api?v=2.0&ak=z3sruaZBE2gy8ZvXsmjZzr5i32h9klHk"></script>
      <script src="__JS__/layui.js"></script>
      <script src="__JS__/sendMail.js"></script>
      <script>
        var map = new BMap.Map("map"); 
        var point = new BMap.Point(113.3210772909, 23.1028075330);
        map.centerAndZoom(point, 15); 
        map.enableScrollWheelZoom(true);
      </script>
  </body>
  </html>